<footer id="general-footer">
  <style>main { margin-bottom: 70px; }</style>
  <div class="footer-container">
    <div class="footer-section">
      <h3>{{ __ "about_project_title" }}</h3>
      <p>{{ __ "about_project_desc" }}.</p>
    </div>
    <div class="footer-section">
      <h3>{{ __ "useful_links" }}</h3>
      <ul>
        <li><a href="/">{{ __ "about_us" }}</a></li>
        {{!-- <li><a href="/docs">{{ __ "docs" }}</a></li> --}}
        <li><a href="/terms">{{ __ "terms_and_conditions" }}</a></li>
        <li><a href="https://t.me/my_diary_support_bot">{{ __ "support" }}</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>{{ __ "contacts" }}</h3>
      <ul>
        <li>{{ __ "email" }}: <a href="mailto:support@partycorn.ru">support@partycorn.ru</a></li>
        {{!-- <li>{{ __ "phone" }}: <a href="tel:+1234567890">+123-456-7890</a></li> --}}
      </ul>
    </div>
    <div class="footer-section">
      <h3>{{ __ "we_in_social_media" }}</h3>
      <div class="social-links">
        <a href="https://vk.com/mydiary">VK</a>
        <a href="https://t.me/mydiary">Telegram</a>
        <a href="https://github.com/PartyCorn/my-diary">GitHub</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; <span id="currentYearSpan"></span> {{ __ "footer" }}</p>
  </div>
  <script>document.getElementById('currentYearSpan').textContent = new Date().getFullYear()</script>
  {{#if user}}
    <style>footer a { color: var(--color); }</style>
  {{else}}
    <style>footer a { color: #1d4ed8; }</style>
  {{/if}}
</footer>
