<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="658406563406-9ep52280uvoql90jjgl38gmquejk2qjl.apps.googleusercontent.com">
    <title>{{ __ "login" }}</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    {{> header}}
    <main class="bg-img-1">
        <form action="/login" method="post">
            <h1>{{ __ "login" }}</h1>
            <input type="email" name="email" id="email" placeholder="{{ __ "email" }}*" required>
            
            <input type="password" name="password" id="password" placeholder="{{ __ "password" }}*" required>
            
            <p>{{ __ "first_time_here" }} <a href="/register">{{ __ "register_here" }}</a></p>
            <button type="submit">{{ __ "login" }}</button>

            <div>
                <div class="g-signin2" data-text="test" data-onsuccess="onSignIn"></div>
            </div>
        </form>
    </main>
    {{> footer}}
</body>
</html>
