<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ __ "register" }}</title>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    {{> header}}
    <main class="bg-img-2">
        <form action="/register" method="post">
            <h1>{{ __ "register" }}</h1>
            <input type="email" name="email" id="email" placeholder="{{ __ "email" }}*" required>
            
            <input type="password" name="password" id="password" placeholder="{{ __ "password" }}*" required>
            
            <p>{{ __ "already_have_account" }} <a href="/login">{{ __ "login_here" }}</a></p>
            <button type="submit">{{ __ "register" }}</button>
        </form>
    </main>
    {{> footer}}
</body>
</html>
