<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    {{#each data}}
        <div class="entry" data-href="{{this.date}}">
            <h1>{{formatTimestamp this.date ../user.lang}}</h1>
            {{#if this.editDate}}<address>{{formatTimestamp this.editDate ../user.lang}}</address>{{/if}}
            {{#if this.tags}}
                <div class="tags-container">
                    {{#each this.tags}}
                        <div class="tag">#{{this}}</div>
                    {{/each}}
                </div>
                <p>{{this.content}}</p>
            {{/if}}
        </div>
        <hr>
    {{/each}}
</body>
</html>