<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
        <link
            rel="stylesheet"
            as="style"
            onload="this.rel='stylesheet'"
            href="https://fonts.googleapis.com/css2?display=swap&amp;family=Epilogue%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900;"
        />

        <title>My Diary</title>
        <link rel="icon" type="image/x-icon" href="/static/logo.png" />

        <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
        <link rel="stylesheet" href="/styles/partials.css">
    </head>
    <body>
        <div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: Epilogue, "Noto Sans", sans-serif;'>
        <div class="layout-container flex h-full grow">
            {{> header}}
            <main class="w-full">
                <div class="px-40 flex flex-1 justify-center py-5">
                <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
                    <div class="@container">
                    <div class="@[480px]:p-4">
                        <div
                        class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-xl items-start justify-end px-4 pb-10 @[480px]:px-10"
                        style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("/static/main1.png");'
                        >
                        <div class="flex flex-col gap-2 text-left">
                            <h1
                            class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                            >
                            {{ __ "main_header" }}
                            </h1>
                            <h2 class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                            {{ __ "main_slogan" }}.
                            </h2>
                        </div>
                        <div class="flex-wrap gap-3 flex">
                            <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#1980e6] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]" onclick="document.getElementById('learn_more').scrollIntoView({ behavior: 'smooth' })">
                            <span class="truncate">{{ __ "learn_more" }}</span>
                            </button>
                            <button id="learn_more" class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#e7edf3] text-[#0e141b] text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]" onclick="window.location.href = '/login'">
                            <span class="truncate">{{ __ "get_started" }}</span>
                            </button>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h2 class="text-[#0e141b] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">{{ __ "main_why_people_love_header" }}</h2>
                    <div class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-3 p-4">
                    <div class="flex flex-1 gap-3 rounded-lg border border-[#d0dbe7] bg-slate-50 p-4 flex-col">
                        <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full w-10 shrink-0" style='background-image: url("/static/feature0.png");'></div>
                        <div class="flex flex-col gap-1">
                            <h2 class="text-[#0e141b] text-base font-bold leading-tight">{{ __ "main_feature_1_title" }}</h2>
                            <p class="text-[#4e7397] text-sm font-normal leading-normal">{{ __ "main_feature_1_desc" }}.</p>
                        </div>
                    </div>
                    <div class="flex flex-1 gap-3 rounded-lg border border-[#d0dbe7] bg-slate-50 p-4 flex-col">
                        <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full w-10 shrink-0" style='background-image: url("/static/feature6.png");'></div>
                        <div class="flex flex-col gap-1">
                            <h2 class="text-[#0e141b] text-base font-bold leading-tight">{{ __ "main_feature_2_title" }}</h2>
                            <p class="text-[#4e7397] text-sm font-normal leading-normal">{{ __ "main_feature_2_desc" }}.</p>
                        </div>
                    </div>
                    <div class="flex flex-1 gap-3 rounded-lg border border-[#d0dbe7] bg-slate-50 p-4 flex-col">
                        <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full w-10 shrink-0" style='background-image: url("/static/feature2.png");'></div>
                        <div class="flex flex-col gap-1">
                            <h2 class="text-[#0e141b] text-base font-bold leading-tight">{{ __ "main_feature_3_title" }}</h2>
                            <p class="text-[#4e7397] text-sm font-normal leading-normal">{{ __ "main_feature_3_desc" }}.</p>
                        </div>
                    </div>
                    <div class="flex flex-1 gap-3 rounded-lg border border-[#d0dbe7] bg-slate-50 p-4 flex-col">
                        <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full w-10 shrink-0" style='background-image: url("/static/feature3.png");'></div>
                        <div class="flex flex-col gap-1">
                            <h2 class="text-[#0e141b] text-base font-bold leading-tight">{{ __ "main_feature_4_title" }}</h2>
                            <p class="text-[#4e7397] text-sm font-normal leading-normal">{{ __ "main_feature_4_desc" }}.</p>
                        </div>
                    </div>
                    <div class="flex flex-1 gap-3 rounded-lg border border-[#d0dbe7] bg-slate-50 p-4 flex-col">
                        <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full w-10 shrink-0" style='background-image: url("/static/feature4.png");'></div>
                        <div class="flex flex-col gap-1">
                            <h2 class="text-[#0e141b] text-base font-bold leading-tight">{{ __ "main_feature_5_title" }}</h2>
                            <p class="text-[#4e7397] text-sm font-normal leading-normal">{{ __ "main_feature_5_desc" }}.</p>
                        </div>
                    </div>
                    <div class="flex flex-1 gap-3 rounded-lg border border-[#d0dbe7] bg-slate-50 p-4 flex-col">
                        <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full w-10 shrink-0" style='background-image: url("/static/feature5.png");'></div>
                        <div class="flex flex-col gap-1">
                            <h2 class="text-[#0e141b] text-base font-bold leading-tight">{{ __ "main_feature_6_title" }}</h2>
                            <p class="text-[#4e7397] text-sm font-normal leading-normal">{{ __ "main_feature_6_desc" }}.</p>
                        </div>
                    </div>
                    </div>
                    <div class="flex overflow-y-auto [-ms-scrollbar-style:none] [scrollbar-width:none] [&amp;::-webkit-scrollbar]:hidden">
                    <div class="flex items-stretch p-4 gap-3">
                        <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                        <div
                            class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl flex flex-col"
                            style='background-image: url("/static/main5.png");'
                        ></div>
                        <div>
                            <p class="text-[#0e141b] text-base font-medium leading-normal">"{{ __ "main_review_1" }}."</p>
                            <p class="text-[#4e7397] text-sm font-normal leading-normal">— {{ __ "main_user_anonymous" }}</p>
                        </div>
                        </div>
                        <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                        <div
                            class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl flex flex-col"
                            style='background-image: url("/static/main6.png");'
                        ></div>
                        <div>
                            <p class="text-[#0e141b] text-base font-medium leading-normal">"{{ __ "main_review_2" }}."</p>
                            <p class="text-[#4e7397] text-sm font-normal leading-normal">— {{ __ "main_user_anonymous" }}</p>
                        </div>
                        </div>
                        <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                        <div
                            class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl flex flex-col"
                            style='background-image: url("/static/main7.png");'
                        ></div>
                        <div>
                            <p class="text-[#0e141b] text-base font-medium leading-normal">"{{ __ "main_review_3" }}."</p>
                            <p class="text-[#4e7397] text-sm font-normal leading-normal">— {{ __ "main_user_anonymous" }}</p>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h2 class="text-[#0e141b] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">{{ __ "main_guide" }}</h2>
                    <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
                    <div class="flex flex-1 gap-3 rounded-lg border border-[#d0dbe7] bg-slate-50 p-4 flex-col">
                        <div class="text-[#0e141b]" data-icon="PencilSimple" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                        </svg>
                        </div>
                        <div class="flex flex-col gap-1">
                        <h2 class="text-[#0e141b] text-base font-bold leading-tight">{{ __ "main_guide_0_title" }}</h2>
                        <p class="text-[#4e7397] text-sm font-normal leading-normal">{{ __ "main_guide_0_desc" }}.</p>
                        </div>
                    </div>
                    <div class="flex flex-1 gap-3 rounded-lg border border-[#d0dbe7] bg-slate-50 p-4 flex-col">
                        <div class="text-[#0e141b]" data-icon="PencilSimple" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                            <path
                            d="M227.31,73.37,182.63,28.68a16,16,0,0,0-22.63,0L36.69,152A15.86,15.86,0,0,0,32,163.31V208a16,16,0,0,0,16,16H92.69A15.86,15.86,0,0,0,104,219.31L227.31,96a16,16,0,0,0,0-22.63ZM92.69,208H48V163.31l88-88L180.69,120ZM192,108.68,147.31,64l24-24L216,84.68Z"
                            ></path>
                        </svg>
                        </div>
                        <div class="flex flex-col gap-1">
                        <h2 class="text-[#0e141b] text-base font-bold leading-tight">{{ __ "main_guide_1_title" }}</h2>
                        <p class="text-[#4e7397] text-sm font-normal leading-normal">{{ __ "main_guide_1_desc" }}.</p>
                        </div>
                    </div>
                    <div class="flex flex-1 gap-3 rounded-lg border border-[#d0dbe7] bg-slate-50 p-4 flex-col">
                        <div class="text-[#0e141b]" data-icon="Check" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                            <path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path>
                        </svg>
                        </div>
                        <div class="flex flex-col gap-1">
                        <h2 class="text-[#0e141b] text-base font-bold leading-tight">{{ __ "main_guide_2_title" }}</h2>
                        <p class="text-[#4e7397] text-sm font-normal leading-normal">{{ __ "main_guide_2_desc" }}.</p>
                        </div>
                    </div>
                    <div class="flex flex-1 gap-3 rounded-lg border border-[#d0dbe7] bg-slate-50 p-4 flex-col">
                        <div class="text-[#0e141b]" data-icon="MagnifyingGlass" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                            <path
                            d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                            ></path>
                        </svg>
                        </div>
                        <div class="flex flex-col gap-1">
                        <h2 class="text-[#0e141b] text-base font-bold leading-tight">{{ __ "main_guide_3_title" }}</h2>
                        <p class="text-[#4e7397] text-sm font-normal leading-normal">{{ __ "main_guide_3_desc" }}.</p>
                        </div>
                    </div>
                    <div class="flex flex-1 gap-3 rounded-lg border border-[#d0dbe7] bg-slate-50 p-4 flex-col">
                        <div class="text-[#0e141b]" data-icon="Calendar" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                            <path
                            d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-96-88v64a8,8,0,0,1-16,0V132.94l-4.42,2.22a8,8,0,0,1-7.16-14.32l16-8A8,8,0,0,1,112,120Zm59.16,30.45L152,176h16a8,8,0,0,1,0,16H136a8,8,0,0,1-6.4-12.8l28.78-38.37A8,8,0,1,0,145.07,132a8,8,0,1,1-13.85-8A24,24,0,0,1,176,136,23.76,23.76,0,0,1,171.16,150.45Z"
                            ></path>
                        </svg>
                        </div>
                        <div class="flex flex-col gap-1">
                        <h2 class="text-[#0e141b] text-base font-bold leading-tight">{{ __ "main_guide_4_title" }}</h2>
                        <p class="text-[#4e7397] text-sm font-normal leading-normal">{{ __ "main_guide_4_desc" }}.</p>
                        </div>
                    </div>
                    <div class="flex flex-1 gap-3 rounded-lg border border-[#d0dbe7] bg-slate-50 p-4 flex-col">
                        <div class="text-[#0e141b]" data-icon="Calendar" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
                        </svg>
                        </div>
                        <div class="flex flex-col gap-1">
                        <h2 class="text-[#0e141b] text-base font-bold leading-tight">{{ __ "main_guide_5_title" }}</h2>
                        <p class="text-[#4e7397] text-sm font-normal leading-normal">{{ __ "main_guide_5_desc" }}.</p>
                        </div>
                    </div>
                    <div class="flex flex-1 gap-3 rounded-lg border border-[#d0dbe7] bg-slate-50 p-4 flex-col">
                        <div class="text-[#0e141b]" data-icon="Calendar" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 0 1-6.364 0M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z" />
                        </svg>
                        </div>
                        <div class="flex flex-col gap-1">
                        <h2 class="text-[#0e141b] text-base font-bold leading-tight">{{ __ "main_guide_6_title" }}</h2>
                        <p class="text-[#4e7397] text-sm font-normal leading-normal">{{ __ "main_guide_6_desc" }}.</p>
                        </div>
                    </div>
                    {{!-- <div class="flex flex-1 gap-3 rounded-lg border border-[#d0dbe7] bg-slate-50 p-4 flex-col">
                        <div class="text-[#0e141b]" data-icon="Link" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                            <path
                            d="M137.54,186.36a8,8,0,0,1,0,11.31l-9.94,10A56,56,0,0,1,48.38,128.4L72.5,104.28A56,56,0,0,1,149.31,102a8,8,0,1,1-10.64,12,40,40,0,0,0-54.85,1.63L59.7,139.72a40,40,0,0,0,56.58,56.58l9.94-9.94A8,8,0,0,1,137.54,186.36Zm70.08-138a56.08,56.08,0,0,0-79.22,0l-9.94,9.95a8,8,0,0,0,11.32,11.31l9.94-9.94a40,40,0,0,1,56.58,56.58L172.18,140.4A40,40,0,0,1,117.33,142,8,8,0,1,0,106.69,154a56,56,0,0,0,76.81-2.26l24.12-24.12A56.08,56.08,0,0,0,207.62,48.38Z"
                            ></path>
                        </svg>
                        </div>
                        <div class="flex flex-col gap-1">
                        <h2 class="text-[#0e141b] text-base font-bold leading-tight">Share</h2>
                        <p class="text-[#4e7397] text-sm font-normal leading-normal">Share individual entries with friends and family.</p>
                        </div>
                    </div>
                    <div class="flex flex-1 gap-3 rounded-lg border border-[#d0dbe7] bg-slate-50 p-4 flex-col">
                        <div class="text-[#0e141b]" data-icon="Users" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                            <path
                            d="M117.25,157.92a60,60,0,1,0-66.5,0A95.83,95.83,0,0,0,3.53,195.63a8,8,0,1,0,13.4,8.74,80,80,0,0,1,134.14,0,8,8,0,0,0,13.4-8.74A95.83,95.83,0,0,0,117.25,157.92ZM40,108a44,44,0,1,1,44,44A44.05,44.05,0,0,1,40,108Zm210.14,98.7a8,8,0,0,1-11.07-2.33A79.83,79.83,0,0,0,172,168a8,8,0,0,1,0-16,44,44,0,1,0-16.34-84.87,8,8,0,1,1-5.94-14.85,60,60,0,0,1,55.53,105.64,95.83,95.83,0,0,1,47.22,37.71A8,8,0,0,1,250.14,206.7Z"
                            ></path>
                        </svg>
                        </div>
                        <div class="flex flex-col gap-1">
                        <h2 class="text-[#0e141b] text-base font-bold leading-tight">Connect</h2>
                        <p class="text-[#4e7397] text-sm font-normal leading-normal">Follow other users and explore their public entries.</p>
                        </div>
                    </div> --}}
                    </div>
                    <h2 class="text-[#0e141b] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">{{ __ "main_join_us" }}</h2>
                    <div class="flex px-4 py-3">
                    <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-12 px-5 flex-1 bg-[#1980e6] text-slate-50 text-base font-bold leading-normal tracking-[0.015em]" onclick="window.location.href = '/register'">
                        <span class="truncate">{{ __ "register" }}</span>
                    </button>
                    </div>
                </div>
                </div>
            </main>
        </div>
        </div>
        {{> footer}}
    </body>
</html>
