<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Diary Terms & Conditions Of Use</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>
<body>
    <div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style="font-family: Inter, &quot;Noto Sans&quot;, sans-serif;">
        <div class="layout-container flex h-full grow flex-col">
            <div class="px-40 flex flex-1 justify-center py-5">
                <div class="layout-content-container flex flex-col w-[512px] max-w-[512px] py-5 max-w-[960px] flex-1">
                    <h1 class="text-[#0e141b] tracking-light text-[32px] font-bold leading-tight min-w-72 text-center">{{ __ "terms_and_conditions" }}</h1>
                    <p class="text-base text-gray-500 text-center">{{ __ "affective_as_of" }} 2024-10-12</p>
                    <ol class="space-y-4 text-gray-700 list-decimal">
                        <li>
                            <h2 class="mb-2 text-lg font-semibold text-gray-900">{{ __ "terms_1t" }}</h2>
                            <p>{{ __ "terms_1d" }}</p>
                        </li>

                        <li>
                            <h2 class="mb-2 text-lg font-semibold text-gray-900">{{ __ "terms_2t" }}</h2>
                            <p>{{ __ "terms_2d" }}</p>
                        </li>

                        <li>
                            <h2 class="mb-2 text-lg font-semibold text-gray-900">{{ __ "terms_3t" }}</h2>
                            <p>{{ __ "terms_3d" }}</p>
                        </li>

                        <li>
                            <h2 class="mb-2 text-lg font-semibold text-gray-900">{{ __ "terms_4t" }}</h2>
                            <p>{{ __ "terms_4d" }}</p>
                        </li>

                        <li>
                            <h2 class="mb-2 text-lg font-semibold text-gray-900">{{ __ "terms_5t" }}</h2>
                            <p>{{ __ "terms_5d" }}</p>
                        </li>

                        <li>
                            <h2 class="mb-2 text-lg font-semibold text-gray-900">{{ __ "terms_6t" }}</h2>
                            <p>{{ __ "terms_6d" }}</p>
                        </li>

                        <li>
                            <h2 class="mb-2 text-lg font-semibold text-gray-900">{{ __ "terms_7t" }}</h2>
                            <p>{{ __ "terms_7d" }}</p>
                        </li>

                        <li>
                            <h2 class="mb-2 text-lg font-semibold text-gray-900">{{ __ "terms_8t" }}</h2>
                            <p>{{ __ "terms_8d" }}</p>
                        </li>

                        <li>
                            <h2 class="mb-2 text-lg font-semibold text-gray-900">{{ __ "terms_9t" }}</h2>
                            <p>{{ __ "terms_9d" }}</p>
                        </li>

                        <li>
                            <h2 class="mb-2 text-lg font-semibold text-gray-900">{{ __ "terms_10t" }}</h2>
                            <p>{{ __ "terms_10d" }} <a class="text-blue-500 hover:underline" href="mailto:support@partycorn.ru">support@partycorn.ru</a>.</p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>